:root {
  --blue: #5e9ce5;
  --light-blue: #e3f1fc;
  --teal: #69a7a4;
  --white: #ffffff;
  --black: #141414;
}

@font-face {
  font-family: 'MonaSans';
  src: url('../../public/fonts/monasans/MonaSans.woff2')
      format('woff2 supports variations'),
    url('../../public/fonts/monasans/MonaSans-Bold.woff2') format('woff2-bold'),
    url('../../public/fonts/monasans/MonaSans-Italic.woff2')
      format('woff2-italic'),
    url('../../public/fonts/monasans/MonaSans-Light.woff2')
      format('woff2-light');
}
