@import url('./theme/theme.css');
body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.App {
  flex-direction: row;
  text-align: center;
  display: flex;
  overflow: hidden;
  height: 100vh;

  .Sidebar,
  .RightBar {
    flex: 20%;
    background-color: var(--blue);
    padding: 0.5rem 1.5rem;
  }

  .Widget {
    flex: 60%;
    background-color: var(--light-blue);
    padding: 0.5rem 1.5rem;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
